 @using Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.Entities.Project;

<form asp-action="FillProjectProps" method="post">
    <div id = "ProjectForm">
        <label asp-for="Name">Project Name</label>
        <input asp-for="Name" />
    
        <label asp-for="StartDate">Start Date</label>
        <input asp-for="StartDate" type="date" />
    
        <label asp-for="EndDate">End Date</label>
        <input asp-for="EndDate" type="date" />
    
        <label asp-for="Priority">Priority</label>
        <input asp-for="Priority" />
        
        <button type="submit" class="moveToNextSection">Next</button>
    </div>
</form>
<script>
</script>