<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--PROJECT-->
    <div id="FillProjectProps">
        <form>
            <div id="ProjectForm">
                <label for="ProjectName">Project Name</label>
                <input id="ProjectName" required>

                <label for="ProjectEndDate">End Date</label>
                <input id="ProjectEndDate" type="date" required>

                <label for="ProjectPriority">Priority</label>
                <input id="ProjectPriority" required>

                <button type="submit" class="moveToNextSection">Next</button>
            </div>
        </form>
    </div>
    
<!--CLIENT COMPANY-->
    <div id="FillClientCompanyProps" >
        <form>
            <div id="ClientCompanyForm">
                <label for="ClientName">Client Company Name</label>
                <input id="ClientName" />
            </div>
            
<!--            CLIENT COMPANY EMPLOYEES-->
            <div id="ClientCompanyEmployeesForm">
                <label for="ClientEmployeeName">Name</label>
                <input type="text" id="ClientEmployeeName" />

                <label for="ClientEmployeeSpeciality">Speciality</label>
                <input type="text" id="ClientEmployeeSpeciality" />

                <button type="button" id="addClientEmployee">Add employee</button>
            </div>

            <div id="ClientEmployeesShown"></div>

            <div id="ClientEmployeesContainer"></div>

            <button type="submit">Next</button>
        </form>
    </div>

        <!--Executor Company-->
    <div id="FillClientCompanyProps" >
        <form>
            <div id="ClientCompanyForm">
                <label for="ClientName">Client Company Name</label>
                <input id="ClientName" />
            </div>
    
            <!--            EXECUTOR COMPANY EMPLOYEES-->
            <div id="ClientCompanyEmployeesForm">
                <label for="ClientEmployeeName">Name</label>
                <input type="text" id="ClientEmployeeName" />
    
                <label for="ClientEmployeeSpeciality">Speciality</label>
                <input type="text" id="ClientEmployeeSpeciality" />
    
                <button type="button" id="addEmployee">Add employee</button>
            </div>
    
            <div id="employeesShown"></div>
    
            <div id="employeesContainer"></div>
    
            <button type="submit">Next</button>
        </form>
    </div>
</body>
<script src="js/FillProjectProps.js"></script>   
</html>